<aside role="banner" class="cover">
  <div {{#if @blog.cover}}data-load-image="{{@blog.cover}}"{{/if}} class="cover-image"></div>
  <div class="cover-container">
    {{#if @blog.logo}}
      <a href="{{@blog.url}}" class="cover-logo" data-pjax>
        <img src="{{@blog.logo}}" alt="Blog Logo">
      </a>
    {{/if}}
    <h1 class="cover-title">{{@blog.title}}</h1>
    <p class="cover-description">{{@blog.description}}</p>
    <nav class="cover-social">
      <ul class="social-icons icon-circle icon-zoom list-unstyled list-inline">
	      <li class="social-item"><a href="https://github.com/peterfriese" title="@peterfriese on Github" target="_blank"><i class="fa fa-github"></i></a> </li>
	      <li class="social-item"><a href="https://plus.google.com/+PeterFriese/posts" title="+PeterFriese on Google+" target="_blank"><i class="fa fa-google-plus"></i></a> </li>
	      <li class="social-item"> <a href="https://uk.linkedin.com/in/peterfriese" title="Peter Friese on LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a> </li>
	      <li class="social-item"> <a href="http://stackoverflow.com/users/281221/peter-friese" title="Peter Friese on Stack Overflow" target="_blank"><i class="fa fa-stack-overflow"></i></a> </li>
	      <li class="social-item"> <a href="https://twitter.com/peterfriese" title="@peterfriese on Twitter" target="_blank"><i class="fa fa-twitter"></i></a> </li>
	      <li class="social-item"> <a href="https://www.xing.com/profile/Peter_Friese" title="Peter Friese on Xing" target="_blank"><i class="fa fa-xing"></i></a> </li>
        <li class="social-item"> <a href="https://foursquare.com/peterfriese" title="Peter Friese on FourSquare" target="_blank"><i class="fa fa-foursquare"></i></a> </li>
	  	</ul>
    </nav>
  </div>
</aside>
